<!doctype html>
<html>
    <head>
        <title>Library of Babel</title>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <!-- <script src="/static/htmx.min.js"></script> -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/babel.css" type="text/css" />
    </head>
    <body>
        <nav class="nav-menu">
            <div class="menu-item">
                <a href="/" hx-get="/static/indexContent.html" hx-target="main.content-area" hx-swap="innerHtml"
                    >Home</a
                >
            </div>
            {{range .MenuItems}} {{if .Children}}
            <div
                class="menu-item has-children"
                hx-on="click:
                        /* this closes the menu */
                        document.querySelectorAll('.submenu.show').forEach(menu => {
                                                if (menu !== this.nextElementSibling) {
                                                    menu.classList.remove('show');
                                                    menu.previousElementSibling.classList.remove('active');
                                                }
                                            });
                        /* once closed, this can be used to open the new one */
                        let offset = this.offsetTop;
                        let submenu = this.nextElementSibling;
                        submenu.style.setProperty('--menu-offset', offset + 'px');
                        submenu.classList.toggle('show');
                        this.classList.toggle('active')"
            >
                {{.Title}}
            </div>
            <div class="submenu">
                {{range .Children}}
                <div class="menu-item">
                    <a href="{{.Link}}">{{.Title}}</a>
                </div>
                {{end}}
                <div class="menu-item">
                    <a
                        href="{{.MoreInfo}}"
                        hx-get="{{.MoreInfo}}"
                        hx-target="main.content-area"
                        hx-swap="innerHTML"
                        hx-on="click:
                        document.querySelectorAll('.submenu.show').forEach(menu => {
                              menu.classList.remove('show');
                              menu.previousElementSibling.classList.remove('active');
                          })"
                        >More Information</a
                    >
                </div>
            </div>
            {{else}}
            <div class="menu-item">
                <a href="{{.Link}}">{{.Title}}</a>
            </div>
            {{end}} {{end}}
        </nav>

        <main class="content-area">{{.Body}}</main>
    </body>
</html>
